---
---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16 border-t border-gray-200">
    <p class="text-sm text-[#32373c]/60">
        &copy; {new Date().getFullYear()} The Infinite Wealth Group. All rights reserved.
    </p>
</footer>
