---
import IBCLayout from '../../layouts/IBCLayout.astro';
---

<IBCLayout title="Carrier Approval" activePage="carrier-approval">
    <h1 class="mb-4 text-[#7a00df]">Carrier Approval</h1>
    <p class="text-lg mb-8 text-[#32373c]/70">Carrier approval information and status.</p>

    <div class="bg-gray-50 rounded-xl p-8 border border-gray-200 text-center">
        <p class="text-[#32373c]/50 text-lg">Coming Soon</p>
    </div>
</IBCLayout>
